.FileDisplayComponent {
  display: block;
  margin-bottom: 3px;
}
.fileLanguage {
  border: 1px solid grey;
  margin-right: 3px;
  border-radius: 5px;
  padding: 2px;
  background-color: lightyellow;
}
.snippet {
  width: 100%;
  height: 0;
  transition: height 1s;
  overflow: scroll;
  border-radius: 15px;
}
.active {
  height: 250px;
}
.fileName {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
